* {
}

h3 {
    text-decoration: dashed;

}
hr{
    border-top: 1px solid blue;
}

.post-content p:not(:first-of-type) {
    text-indent: 40px;
}
.post-content p {
    text-align: justify;
    font-size: 15px;
    margin: 0;
}